/* ==================== GOOGLE FONTS ==================== */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500&display=swap");
/* ==================== CSS Variables ==================== */
:root {
  --header-height: 5rem;

  /* ========== Colors ========== */
  --body-color: #303234;
  --shadow-light: rgb(73, 73, 73, 0.4);
  --shadow-dark: rgb(0, 0, 0, 0.4);
  --text-color-primary: #e4e6e9;
  --text-color-secondary: #9aa0a6;
  --text-white: #ffffff;
  --text-black: #000000;
  --blue-primary: #588be0;
  --blue-secondary: #8ab4f8;
  --delete-color: hsl(0, 69%, 61%);
  --delete-color-alt: hsl(0, 57%, 53%);

  /* ========== Shodows ========== */
  --shadow-big: -9px -9px 16px var(--shadow-light),
    9px 9px 16px var(--shadow-dark);
  --shadow-medium: -4px -4px 8px var(--shadow-light),
    4px 4px 8px var(--shadow-dark);
  --shadow-small: -2px -2px 4px var(--shadow-light),
    2px 2px 4px var(--shadow-dark);

  /* ========== Font and Typography ========== */
  --body-font: "Josefin Sans", sans-serif;

  /* 0.5rem = 8px, 1rem = 16px, 1.5rem = 24px... */
  --big-font-size: 2rem;
  --title-font-size: 1.5rem;
  --title-small-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ========== Font Weight ========== */
  --font-thin: 100;
  --font-normal: 300;
  --font-medium: 400;
  --font-bold: 500;

  /* ========== Z Index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --title-font-size: 2.25rem;
    --title-small-font-size: 1.5rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ==================== BASE ==================== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color-primary);
  font-weight: var(--font-normal);
}
h1,
h2,
h3,
h4 {
  color: var(--text-color-primary);
  font-weight: var(--font-normal);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
section {
  width: 85%;
  background-color: var(--body-color);
  box-shadow: var(--shadow-medium);
  border-radius: 0.75rem;
  padding: 1rem 0;
}

/* ==================== HEADER ==================== */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: var(--header-height);
}
.header__title {
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  text-shadow: var(--shadow-medium);
}
.header__date-year {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-bold);
  text-shadow: var(--shadow-medium);
}
.header__date-date {
  font-weight: var(--font-bold);
  font-size: var(--title-small-font-size);
  text-shadow: var(--shadow-medium);
}

/* ===================== BUTTONS =====================  */
.button {
  display: inline-block;
  background-color: var(--body-color);
  color: var(--text-color-secondary);
  box-shadow: var(--shadow-medium);
  padding: 1rem;
  border-radius: 00.5rem;
  font-weight: var(--font-bold);
  cursor: pointer;
}
.button:hover {
  color: var(--text-color-primary);
}

.delete__button {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--body-color);
  color: var(--text-color-secondary);
  padding: 0.25rem;
  border-radius: 30%;
  font-weight: var(--font-bold);
  transition: 00.3s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.delete__button:hover {
  color: var(--text-color-primary);
  box-shadow: var(--shadow-small);
}

/* ==================== ADD BUTTONS ==================== */
.add__button,
.add__button-stage,
.add__button-task {
  font-size: 2.25rem;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.4s;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  z-index: var(--z-tooltip);
}
.add__button-stage,
.add__button-task {
  z-index: calc(var(--z-tooltip)-1);
  visibility: hidden;
}

/* Show stage and task */
.show-task {
  visibility: visible;
  bottom: 15rem;
}
.show-stage {
  visibility: visible;
  bottom: 10rem;
}
/* add to cancel */
.add-cancel {
  background-color: var(--delete-color);
  color: var(--text-color-primary);
  transform: rotate(-45deg);
}
.add-cancel:hover {
  background-color: var(--delete-color-alt);
  color: var(--text-color-secondary);
}

/* ==================== MAIN ==================== */

main {
  display: grid;
  grid-row-gap: 2rem;
  padding-left: 2rem;
}
/* ==================== PROJECT NAME ==================== */
.project__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__input {
  width: 70%;
  text-align: center;
  background-color: var(--body-color);
  color: var(--text-color-primary);
  font-family: var(--body-font);
  font-size: var(--title-small-font-size);
  border: none;
  outline: none;
  padding: 0.5rem 0;
  transition: 0.3s;
}
.project__title {
  width: 70%;
  text-align: center;
  background-color: var(--body-color);
  color: var(--text-color-primary);
  font-family: var(--body-font);
  font-size: var(--title-small-font-size);
  text-shadow: var(--shadow-small);
  border: none;
  outline: none;
  padding: 0.5rem 0;
  transition: 0.3s;
  font-weight: var(--font-medium);
}
.project__button {
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.project__hide {
  display: none;
}

/* ==================== STAGES ==================== */
.stages__title {
  margin-bottom: 3rem;
}
.stages__title h2 {
  text-align: center;
}
.no__stages h3,
.no__stages h4 {
  text-align: center;
  margin-bottom: 1rem;
}

.stages__container {
  padding: 1rem;
}

.stage__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}
.stage__color {
  border-top: 0.25rem solid var(--blue-primary);
  box-shadow: var(--shadow-medium);
  border-radius: 00.75rem;
}
.stage__card {
  border-radius: 1rem;
  padding: 0.5rem;
}

.stage__name {
  font-weight: var(--font-bold);
  text-align: center;
}
.task__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.stage__rounder {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--text-color-secondary);
  border-radius: 50%;
}

.stage__line {
  display: block;
  width: 3px;
  height: 100%;
  background-color: var(--text-color-secondary);
  transform: translate(10px, -7px);
}

.task__list li {
  display: grid;
  grid-template-columns: 0.2fr 3fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
}
.task__list li input,
.task__list li i {
  cursor: pointer;
}
